p {
    font-size: 1.5rem;
}

/* Container Styling */
div.property-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid #3b8d78;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #1f2022;
  max-width: 300px;
  width: 90%;
  height: auto;
  box-sizing: border-box;
}

/* Heading Styling */
h3 {
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.counter-btn {
    padding: 10px 20px;
    margin: 10px;
    background-color: rgb(28, 183, 144);
    color: black;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.counter-box {
    margin: 10px;
    font-size: 18px;
    padding: 10px 20px;
    width: 25px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #3b8d78;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.my-output {
    font-size: 1.5rem;
    color: white;
}

.next-counter {
    font-size: 1.5rem;
    color: white;
}

.instruction {
    font-size: 1.5rem;
    color: white;
}

.price-info {
    font-size: 1.5rem;
    color: white;
}

.quantity-label {
    color: white;
}

.total-label {
    color: white;
    font-size: 1.5rem;
}

/* Input Styling */
.styled-input {
  width: 100%;
  padding: 10px 15px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  cursor: pointer;
  box-sizing: border-box;
}

.styled-input:focus {
  border-color: #007bff;
  outline: none;
}

.styled-input::placeholder {
  color: #888;
  opacity: 0.7;
}

.example-container {
  border-radius: 10px;
  border: 3px solid #3b8d78;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #1f2022;
  max-width: 300px;
  width: 90%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
}

.for-example {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  
}
.example-lists {
  list-style-type: none;
  padding: 15px;
  margin: 10px;
  max-width: 120px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.example-lists:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.value-list {
  font-size: 1.2rem;
  padding: 5px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}
@media (max-width: 600px) {
  .example-lists {
    max-width: 100%;
  }
}